# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [137]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [158]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/hw_7_fraud_detection")

# To select all data
# ### Write the query
# query ="""
# SELECT *
# FROM transaction_table;
# """

# Write the query
query = """
        SELECT card_holder.id AS "id", transaction_table.date AS "date",  transaction_table.amount AS "amount"
        FROM transaction_table
        JOIN credit_card on credit_card.card = transaction_table.card
        JOIN card_holder on card_holder.id = credit_card.cardholder_id;
        """

### Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
transaction_df = pd.read_sql(query, engine)

### Show the DataFrame's head
transaction_df

      id                date  amount
0     13 2018-01-01 21:35:10    6.22
1     13 2018-01-01 21:43:12    3.83
2     10 2018-01-01 22:41:21    9.61
3      4 2018-01-01 23:13:30   19.03
4     18 2018-01-01 23:15:10    2.95
...   ..                 ...     ...
3495  15 2018-12-31 01:24:15    4.84
3496  10 2018-12-31 03:33:28    3.26
3497  19 2018-12-31 05:53:58   10.73
3498  23 2018-12-31 08:22:17   11.87
3499  15 2018-12-31 09:50:25   19.75

[3500 rows x 3 columns]

In [159]:
# Write function that locates outliers using standard deviation
def outliers_std(card_id):
    ### get transaction amounts for card id 
    transaction_amounts_df = transaction_df.loc[transaction_df['id']==card_id, 'amount']
    return pd.DataFrame(transaction_amounts_df[transaction_amounts_df> transaction_amounts_df.mean()+3*transaction_amounts_df.std()])

In [160]:
# Find anomalous transactions for 3 random card holders
rand_card_id = np.random.randint(1,25,3)

for id in rand_card_id:
    if len(outliers_std(id)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has the following outlier transactions.:\n{outliers_std(id)}.")

Card holder 9 has the following outlier transactions.:
      amount
613   1534.0
1578  1795.0
3389  1724.0.
Card holder 16 has the following outlier transactions.:
      amount
212   1131.0
457   1430.0
625   1617.0
1454  1203.0
1638  1103.0
2043  1803.0
3067  1911.0
3237  1014.0
3429  1634.0.
Card holder 7 has the following outlier transactions.:
      amount
27    1685.0
484   1072.0
1079  1086.0
2142  1449.0
3327  2249.0
3379  1296.0.

## Identifying Outliers Using Interquartile Range

In [156]:
# Write a function that locates outliers using interquartile range
def outliers_iqr(card_id):
    # get transaction amounts for card id 
    transaction_amounts_df = transaction_df.loc[transaction_df['id']==card_id, 'amount']
    iqr_threshold = np.quantile(transaction_amounts_df, .75)+(np.quantile(transaction_amounts_df, .75)-np.quantile(transaction_amounts_df, .25))*1.5
    # return values above the iqr threshold 
    return pd.DataFrame(transaction_amounts_df[transaction_amounts_df> iqr_threshold])

In [157]:
# Find anomalous transactions for 3 random card holders
for id in rand_card_id:
    if len(outliers_iqr(id)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has the following outlier transactions:\n{outliers_iqr(id)}.")

Card holder 24 has the following outlier transactions:
      amount
797   1011.0
1107   525.0
1260  1901.0
1652   258.0
1984   291.0
3064   466.0
3405  1301.0
3433  1035.0.
Card holder 8 has no outlier transactions.
Card holder 11 has no outlier transactions.